p::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  p:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  p::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(180, 1%, 64%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  p {
    position: relative;
    font-size: 5rem;
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }