body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


/* Add styles to the form container */
.form-container {
  background-color: rgb(255, 255, 255);
  margin-left: 800px;
  margin-right: 800px;
  margin-top: 100px;
  padding: 20px 300px 60px 40px;
  width: 17em
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 250px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #0468aa;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Change the background color on mouse-over PUT IT AFTER THE OTHER HTML BUTTONS OR IT DOES NOT WORK*/
.form-container .btn:hover {
  background-color: rgb(0, 195, 255);
  color: black;
  }

/*
body{
  background-color: #000000;
}*/