/* Style the header with a grey background and some padding */

.header {
    background-color: #ffffff;
    padding: 5px 40px;
    position: sticky;
    /*header sticks on scroll */
    top: 0;
    height: 60px;
    min-width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Style the header links */

.header a {
    float: left;
    color: rgb(219, 219, 219);
    border-radius: 10px;
    background-color: #161616;
    padding: 10px 12px;
    margin-top: -12px;
    margin-left: 12px;
    text-decoration: none !important;
}


/* Style the active/current link*/

.header a.register {
    background-color: rgb(0, 52, 100);
    color: white;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
}


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

.header a.logo {
    padding: 10px 10px 1px 25px;
    padding-right: -100px;
    margin-left: -25px;
    margin-right: 350px;
    margin-bottom: 66px;
    padding-bottom: 0px;
    padding-top: 7px;
}

.logo-containerr {
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 0px;
    margin-top: 4px;
}

.logo-img {
    width: 210px;
    margin-left: -20px;
    margin-top: -20px;
}

.logo-txt {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-flex;
    flex: 0 0 auto;
    color: black;
}

.right-container {
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 12px;
}

.notification {
    padding-right: -100px;
    margin-left: -15px;
    margin-right: 15px;
    margin-bottom: 66px;
    padding-top: 55px;
    width: 35px;
    cursor: pointer;
}


/* Style the active/current link*/

.header a.active {
    background-color: rgb(27, 124, 221);
    color: white;
    margin-right: -50px;
    margin-left: 5px;
    padding-right: 8px;
    padding-left: 8px;
}


/* Style the active/current link*/

.header a.inactive {
    background-color: rgb(228, 29, 29);
    color: white;
    margin-right: 0px;
    margin-left: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.header a.profile {
    float: left;
    padding: 2px 1px 0.1px 1px;
    margin-top: -12px;
    left: 800px;
    margin-left: 15px;
    margin-top: -8px;
    background: #00000014;
    margin-right: -55px;
}

.header a.about {
    margin-right: 0px;
    padding-left: 6px;
    margin-left: 5px;
    padding-right: 6px;
}

.header a.admin {
    margin-right: 0px;
    padding-left: 6px;
    margin-left: 5px;
    padding-right: 6px;
}


/* Change the background color on mouse-over PUT IT AFTER THE OTHER HTML BUTTONS OR IT DOES NOT WORK*/

.header a:hover {
    background-color: rgb(192, 192, 192);
    color: black;
}