<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KRID</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/KRIDfav.png">
    <link rel="stylesheet" type="text/css" href="../assets/css/screen.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/posts.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/csslog.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/searchbar.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/about.css">
</head>

<body>
    <header>
        <div class="header" id="myHeader">
            <a href="../index.html" class="logo">
                <div class="logo-containerr">
                    <img src="../assets/img/KRID.png" class="logo-img"><img>
                </div>
            </div>
            <!-- END SEARCHBAR -->
            <!-- PANNEL -->
            <div class="right-container">
                {{if (ge .User.Level 1)}}
                {{end}}
                <a class="about" href="/pages/about">About Us</a> {{if (eq .User.Level 0)}}
                <a class="register" href="/pages/register">Register</a>
                <a class="active" href="/pages/login">Log in</a> {{end}} {{if (ge .User.Level 2)}}
                <a class="admin" href="/pages/admin">Admin</a> {{end}} {{if (ge .User.Level 1)}}
                <a class="inactive" href="/pages/logout">Log out</a>
                <a class="profile" href="/pages/profile"><img src="../assets/images/profile.png" class="img"></a>
                {{end}}
            </div>
            <!-- END PANNEL -->
        </div>
    </header>
    <!-- END HEADER -->

    <footer>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="assets/js/dropdown.js"></script>
    </footer>
</body>

</html>