<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/static/assets/style/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style/effetunderlign.css" type="text/css">
    <link rel="stylesheet" href="../assets/style/index.css">
</head>
<body>

    <header>
        <div class="navbar">
            <div class="navbar_logo">
                <a href="./index.html"><img src="/static/assets/images/KRID.png" alt="Logo KRID"></a>
            </div>
            <ul class="links">

                <li style="font-family:comic sans ms;"> <a href="/static/templates/home.html" class="hover-underline-animation">Home</a></li>
                <li style="font-family:comic sans ms;"> <a href="/static/templates/login.html" class="hover-underline-animation">Login</a></li>
                <li style="font-family:comic sans ms;"> <a href="/static/templates/profile.html" class="hover-underline-animation">Profil</a></li>


            </ul>
        </div>

    </header>
    <script src="../assets/js/navbar_open.js"></script>

</body>
</html>
