<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/static/assets/style/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style/effetunderlign.css" type="text/css">
    <title>Home</title>
</head>
<body>

    <header>
        <div class="navbar">
            <div class="navbar_logo">
                <a href="#Home"><img src="../assets/images/KRID.png" alt="Logo KRID"></a>
            </div>
            <ul class="links">
                <li> <a href="#Home" class="hover-underline-animation">Home</a></li>
                <li> <a href="#Profile" class="hover-underline-animation">Profile</a></li>
                <li> <a href="#Message" class="hover-underline-animation">Message</a></li>
            </ul>
        </div>

    </header>


    <script src="../assets/js/navbar_open.js"></script>

</body>
</html>
