<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/static/assets/style/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style/effetunderlign.css" type="text/css">
    <link rel="stylesheet" href="../assets/style/index.css">
</head>
<body>

    <header>
        <div class="navbar">
            <div class="navbar_logo">
                <a href="./index.html"><img src="/static/assets/images/KRID.png" alt="Logo KRID"></a>
            </div>
            <ul class="links">

                <li style="font-family:comic sans ms;"> <a href="/static/templates/home.html" class="hover-underline-animation">Home</a></li>
                <li style="font-family:comic sans ms;"> <a href="/static/templates/login.html" class="hover-underline-animation">Login</a></li>
                <li style="font-family:comic sans ms;"> <a href="/static/templates/profile.html" class="hover-underline-animation">Profil</a></li>


            </ul>
        </div>

    </header>
    <main>
        <div class="hero">`
            <div class="hero_container">
                <img src="/static/assets/images/KRID.png" alt="Logo">
                <p style="font-family:comic sans ms;"> <span>Bienvenue</span>
                  <span>sur</span>
                  <span>KRID !</span> 
                    <span>KRID</span>
                    <span>est</span>
                    <span>un</span>
                    <span>forum</span>
                    <span>où</span>
                    <span>vous</span>
                    <span>pouvez</span>
                        <span>rejoindre</span>
                        <span>un</span>
                        <span>Topic,</span>
                        <span>en</span>
                        <span>créer</span>
                        <span>un</span>
                         <span>et</span>
                          <span>parler</span>
                           <span>du</span>
                           <span>sujet</span>
                           <span>que</span>
                           <span>vous</span>
                           <span>voulez.</span>
                           <span>Amusez-vous</span>
                           <span>bien !</span> </p>
            </div>
        </div>
    </main>


    <script src="../assets/js/navbar_open.js"></script>

</body>
</html>
