<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/static/assets/style/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style/effetunderlign.css" type="text/css">
    <link rel="stylesheet" href="../assets/style/index.css"
    <title>Home</title>
</head>
<body>

    <header>
        <div class="navbar">
            <div class="navbar_logo">
                <a href="#Home"><img src="/static/assets/images/KRID.png" alt="Logo KRID"></a>
            </div>
            <ul class="links">

                <li style="font-family:comic sans ms;"  > <a href="#Home" class="hover-underline-animation">Home</a></li>
                <li style="font-family:comic sans ms;"> <a href="/static/templates/login.html" class="hover-underline-animation">Login</a></li>
                <li style="font-family:comic sans ms;"> <a href="/static/templates/profile.html" class="hover-underline-animation">Profil</a></li>


            </ul>
        </div>

    </header>
    <main>
        <div class="hero">`
            <div class="hero_container">
                <img src="/static/assets/images/KRID.png" alt="Logo">
                <p style="font-family:comic sans ms;">Bienvenue sur KRID ! 
                    KRID est un forum où vous pouvez rejoindre un Topic, en créer un et parler du sujet que vous voulez.
                    Amusez-vous bien !</p>
            </div>
        </div>
    </main>


    <script src="../assets/js/navbar_open.js"></script>

</body>
</html>
