<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/assets/style/profile.css" />
    <title>Document</title>
  </head>
  <body>

    <style>
 
    </style>


    <h3 style="margin-left: -22%;padding-right: 22%;margin-top: -40%;font-family:comic sans ms;">
        <span><a href="/static/templates/index.html">Home</span></a>
    </h3>



    <div class="wrapper">
      <div class="profile-top">
        <div class="profile-image"></div>
      </div>

      <div class="profile-bottom">
        <div class="profile-infos">
          <div class="main-infos">
            <h3 class="name">Eric Eagle</h3>
            <p class="age grey">24</p>
          </div>
          <p class="email">krid@gmail.com</p>
          <p class="ville"><ion-icon name="location"></ion-icon>Paris</p>
        </div>

        <div class="profile-stats">
          <div class="stat-item">
            <p class="stat">38K</p>
            <p class="grey">Abonnés</p>
          </div>
          <div class="stat-item">
            <p class="stat">103K</p>
            <p class="grey">Likes</p>
          </div>
          <div class="stat-item">
            <p class="stat">1.3K</p>
            <p class="grey">Photos</p>
          </div>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>